extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.ma-bt-lg An email has been sent to your mail.           
      .error__msg Please confirm it to continue..